name: Build and Analyze with SonarCloud 

on:
  push:
     branches: [ "main" ]
  pull_request:
     branches: [ "main" ]

jobs:
  build: 
    name: Build and SonarCloud Analysis
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
         java-version: '17'
         distribution: 'temurin'
    - name: Build with Maven
      run: mvn clean install
    - name: SonarCloud scan
      run: mvn verify sonar:sonar -Dsonar.productKey=${{secrets.SONAR_PRODUCT_KEY}} -Dsonar.organization=${{secrets.SONAR_ORGANIZATION}} -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{secrets.SONAR_TOKEN}}
    
